.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item {
    width: 360px;
    max-width: 100%;
    flex-shrink: 0;
    /* height: 200px; */
}

.gallery-link {
    cursor: zoom-in;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.discriptions {
    display: flex;
    justify-content: space-around;
    border: solid 1px;
    text-align: center;

}

.disc-title {}

.disc-text {}